[Desktop Entry]
Name=Linux Tool
GenericName=Linux Tool App
Comment=Configure your Linux computer
Exec=filepath
Terminal=false
Type=Application
Keywords=Linux;Security;
Icon=/usr/share/icons/Humanity/apps/32/access.svg
Categories=Utility;GNOME;
StartupNotify=false
X-Desktop-File-Install-Version=0.24
